{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "printWidth": 180,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]
 }
 